.avatar_frame {
    height:100%;
    box-sizing: border-box;
    padding-left: 5%;
    width:100%;
    display: flex;
    align-items: center;
}
.avatar_user {
    border-radius: 25px;
    max-width:50%;
    max-height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    min-width: 100px;
    object-fit: cover;
}
.avatar_desc {
    font-size: 10pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    width:50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.avatar_github_ci {
    width: 17px;
    height: 17px;
    margin-right: 3px;
}
.vertical_center {
    vertical-align: middle;
}
