.avatar-frame {
    height:100%;
    box-sizing: border-box;
    padding-left: 5%;
    width:100%;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
}
.avatar-user {
    border-radius: 25px;
    width:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
    min-width: 100px;
    object-fit: cover;
}
.avatar-desc {
    font-size: 10pt;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    width:50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.avatar-github-ci {
    width: 17px;
    height: 17px;
    margin-right: 3px;
}
.vertical-center {
    vertical-align: middle;
}
