h4{
    font-family: 'Segoe UI', bold;
    font-size: 35px;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

form{
    display: inline-block;
    align-items: center;
    height: 250px;
    width: 350px;
    margin-bottom: 170px;
}
.text_area{
    align-content: center;
    border-radius: 22px;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
    font-size: 20px;
    border: none;
    width: 80%;
}

.btn{
    margin-top: 28px;
    width: 160px;
    height: 75px;
    border-radius: 26px;
    background: #55c784;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(97, 223, 135, 0.692), 0 6px 20px 0 rgba(87, 228, 44, 0.9);
    cursor: pointer;
}

.login{
    display: inline-block;
    background: #FFFFFF;
    width: 450px;
    height: 500px;
    margin-top: 12%;
    border-radius: 20px;
}

.back{
    width: 35pt;
    height: 35pt;
    float: left;
}