#svg_placeholder {
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 10%;
    align-content: center;
}

#most_lang_desc,
#most_lang_placeholder {
    height: 100%;
    align-content: center;
}

#most_lang_placeholder {
    display: none;
}