#svg_placeholder {
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 10%;
    align-content: center;
}

#most_lang_desc,
#most_lang_placeholder {
    height: 100%;
    align-content: center;
}

#most_lang_placeholder {
    display: none;
    font-size: 20pt;
}
.lang_name{
    min-width: 60px;
    display: inline-block;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}
  
.lang_used {
    transition: --num 2s;
    counter-set: num var(--num);
}

.lang_used:after {
    content: counter(num);
}
