
.status {
  &.open:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
  }

  &.in-progress:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
  }
  
  &.dead:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}
  
.console {
    width: 100%;
    height: 150pt;
    overflow-y: auto;
}

.prompt {
    padding: 0pt;
    margin-top: 5pt;
    display: flex;
    justify-content: left;
    align-items: center;
}

.w100 {
    width: 100%;
}
.prompt-field {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    font-size: 12px;
}

.prompt-cursor {
    width: 0.8em;
    height: 0.8em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABaSURBVChTY6AtmDx5cvnUqVP1oFzsoL+/XwCo8DEQv584caIVVBg7mDBhghxQ4Y2+vr6vU6ZM8YAKYwdA00SB+CxQ8S+g4jCoMCYgSiFRVpPkGaAiHMHDwAAA5Ko+F4/l6+MAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 3pt;
}

 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.loading {
	width: 20px;
	height: 20px;
	border:solid 4px #355de2;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}