
.status {
  &.open:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0px 0px 4px 1px #94E185;
  }

  &.in-progress:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0px 0px 4px 1px #FFC182;
  }
  
  &.dead:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0px 0px 4px 1px #C9404D;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}
  
.console {
    width: 100%;
    height: 150pt;
    overflow-y: auto;
}

.prompt {
    padding: 0pt;
    margin-top: 5pt;
    display: flex;
    justify-content: left;
    align-items: center;
}

.w100 {
    width: 100%;
}

.inline {
    display: inline-block;
}

.float-right {
    float: right;
}

.prompt-field {
    border: none;
    background: none;
    width: 100%;
    outline: none;
    font-size: 12px;
}
.prompt-field:disabled {
    background-color: #ffffff;
    opacity: 0.8;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(-45deg, #cecece 0, #cecece 1px, #ffffff 0, #ffffff 50%);
}



.prompt-cursor {
    width: 0.8em;
    height: 0.8em;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABaSURBVChTY6AtmDx5cvnUqVP1oFzsoL+/XwCo8DEQv584caIVVBg7mDBhghxQ4Y2+vr6vU6ZM8YAKYwdA00SB+CxQ8S+g4jCoMCYgSiFRVpPkGaAiHMHDwAAA5Ko+F4/l6+MAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 3pt;
}

 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.loading {
	width: 20px;
	height: 20px;
	border:solid 4px #355de2;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

.toggle-wrapper {
    text-align: center;
    height: 21px
}
.switch_body {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background: #fff;
    border: 2px solid rgb(167, 167, 209);
    border-radius: 20px;
    transition: 0.2s;
}
.switch_label:hover {
    background: #efefef;
}
.onf_btn {
    position: absolute;
    top: 2px;
    left: 3px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 20px;
    background: rgb(167, 167, 209);
    transition: 0.2s;
}

/* checking style */
.switch_body:checked+.switch_label {
    background: rgb(72, 137, 223);
    border: 2px solid rgb(72, 137, 223);
}

.switch_body:checked+.switch_label:hover {
    background: rgb(94, 136, 226);
}

/* move */
.switch_body:checked+.switch_label .onf_btn {
    left: 21px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}